html {
  background: url(images/bg.jpg)

}

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Questrial', sans-serif;

}
canvas {
  /* background: #eee; */
  display: block;
  margin: 0 auto;
  background-image:url('./images/bg.jpg');
}

.fa-linkedin {
  position: fixed;
  right: 5vw;
  color: black;
}
.fa-linkedin:hover {
  color: white;
}
.fa-github-square {
  position: fixed;
  right: 10vw;
  color: black;
  /* z-index: 9; */
}
.fa-github-square:hover {
  color: white;
}
