html {
  background: url(images/bg.jpg)

}

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Questrial', sans-serif; */

}
canvas {
  /* background: #eee; */
  display: block;
  margin: 0 auto;
  background-image:url('./images/bg.jpg');

}

canvas .myCanvas {
  /* font-family: 'Questrial', Helvetica, sans-serif, ; */
  font-family: Helvetica, sans-serif, ;
}

.canvas-style {
}

.fa-linkedin {
  position: fixed;
  right: 5vw;
  bottom: 25vw;
  color: white;

}
.fa-linkedin:hover {
  color: gray;
}
.fa-github-square {
  position: fixed;
  right: 12vw;
  bottom: 25vw;
  color: black;
  color: white;
  /* z-index: 9; */
}
.fa-github-square:hover {
  color: gray;
}
